<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag "logo.png", size: "256x256", class: "img-responsive" %>
        <div class="intro-text">
          <span class="site-name">Your Financial Super Hero</span>
          <hr class="star-light">
          <span class="site-description">Manage your finances easily</span>
        </div>
      </div>
    </div>
  </div>
</header>
<footer class="text-center">
  <div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright © Amalrik Maia 2016
            </div>
        </div>
    </div>
  </div>
</footer>