<div class="home-content">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag "logo.png", size: "256x256", class: "img-responsive" %>
      <div class="intro-text">
        <span class="site-name">Your Financial Super Hero</span>
        <hr class="star-light">
        <span class="site-description">Manage your finances easily</span>
        <div class='row'>
          <div class="btn-group" role="group">
            <%= link_to "Start right now!", new_user_session_path, class: 'btn btn-warning', role: 'button' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
